*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:black;
  overflow:hidden;
  font-family:'Great Vibes',cursive;
  color:white;
}

/* PASSWORD */
#lockScreen{
  position:fixed;
  inset:0;
  background:linear-gradient(135deg,#ffafbd,#ffc3a0);
  display:flex;
  justify-content:center;
  align-items:center;
  z-index:999;
}

.lockBox{
  background:rgba(255,255,255,0.25);
  backdrop-filter:blur(8px);
  padding:30px;
  border-radius:20px;
  text-align:center;
}

.lockBox h2{
  font-size:32px;
}

.lockBox input{
  margin-top:15px;
  padding:10px;
  width:220px;
  border:none;
  border-radius:10px;
}

.lockBox button{
  margin-top:15px;
  padding:10px 20px;
  border:none;
  border-radius:20px;
  background:hotpink;
  color:white;
  cursor:pointer;
}

#error{margin-top:10px}

/* COUNTDOWN */
#countScreen{
  position:fixed;
  inset:0;
  background:url("p1.jpg") center/cover no-repeat;
  display:flex;
  justify-content:center;
  align-items:center;
  z-index:10;
}

#countdown{
  font-size:90px;
  cursor:pointer;
  text-shadow:0 0 20px black,0 0 30px hotpink;
  animation:pulse 1s infinite;
}

@keyframes pulse{
  50%{transform:scale(1.15);}
}

.hide{display:none}

/* MAIN */
#scene{
  width:100vw;
  height:100vh;
  display:flex;
}

/* LEFT PHOTOS */
#photoArea{
  width:35%;
  height:100%;
  padding:10px;
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:10px;
  overflow-y:auto;
}

.photo{
  width:100%;
  aspect-ratio:1/1;
  object-fit:contain;
  border-radius:12px;
  background:rgba(255,255,255,0.05);
  opacity:0;
  transform:scale(0.8);
  transition:1s;
}

.photo.show{
  opacity:1;
  transform:scale(1);
}

/* CENTER TEXT */
#centerText{
  width:30%;
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
  font-size:38px;
  margin:20px;
  padding:20px;
  border-radius:20px;
  background:linear-gradient(
    135deg,
    rgba(255,192,203,0.3),
    rgba(255,105,180,0.2)
  );
  backdrop-filter:blur(6px);
  box-shadow:0 0 25px rgba(255,105,180,0.4);
  opacity:0;
  transform:translateY(80px);
  transition:2s;
}

/* RIGHT VIDEO */
#video{
  width:35%;
  height:100%;
  object-fit:contain;
  opacity:0;
  transform:translateX(80px);
  transition:2s;
}
